// app global css in SCSS form
.notification-icon-color {
  color: $blue-grey-6;
}
// button.q-btn:not(.q-btn--round) {
//   min-width: 120px;
// }

@tailwind base;

h1 {
  font-size: 2em;
  font-weight: bolder;
}
h2 {
  font-size: 1.5em;
  font-weight: bolder;
}
h3 {
  font-size: 1.17em;
  font-weight: bolder;
}
h4 {
  font-size: 1em;
  font-weight: bolder;
}
a {
  @apply tw-text-blue-600 tw-underline;
}

h1,
h2,
h3 {
  line-height: 0px;
}

@tailwind components;

@tailwind utilities;
